/*
  Possible Animations:
  enter
  exit
  appear Must set transitionAppear={true} on animation component
*/


.order-enter
  transition 5s
  transform translateX(-120%)
  background red
  &.order-enter-active
      transform translateX(0)
